:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}
.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}

.hero h3 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

.hero h2 {
  font-family: "Poppins";
  font-style: normal;
  left: calc(50% - 462px / 2 - 1px);
  font-weight: normal;
  font-size: 24px;
  color: #272142;
}
.content-conteiner {
  text-align: center;
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-conteiner h3 {
  font-size: 18px;
  font-family: "Poppins";
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 20px;
  font-family: "poppins";
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: bold;
}

h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 70px;
}
p {
  font-size: 18px;
  line-height: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: #6c63ff;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
}
.btn-branding {
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: #6c63ff;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
}
.btn-branding-outline {
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
  color: var(--primary-color);
  border: 1px solid;
}
.secondary-link {
  border-radius: 4px;
  line-height: 27px;

  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: #6c63ff;
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
